html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
    height: 100px;
    top: calc(50% - 50px);
    width: 200px;
    background-color: limegreen;
    width: 200px;
    opacity: 0;
    transition: all 250ms ease-out;
}

.js-box-expand {
    opacity: 100;
}

.diamond {
  height: 80px;
  right: 2em;
  top: calc(50% - 40px);
  width: 80px;

  background-color: hotpink;
  transform: rotate(45deg);
}

.slide-left {

}

.panel {
  width: 250px;
  top: 50%;

  background-color: yellow;
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;

  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
}

