html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
    height: 100px;
    top: calc(50% - 50px);
    width: 200px;
    background-color: limegreen;
    width: 200px;
    opacity: 0;
    transition: all 250ms ease-out;
}

.js-box-expand {
    opacity: 100;
}

.diamond {
  height: 80px;
  right: 2em;
  top: calc(50% - 40px);
  width: 80px;
    position: absolute;
  background-color: hotpink;
  transform: rotate(45deg);
  transition: all 250ms ease-out;
}

.slide-left {
    right: -500px;
}

.panel {
  max-height: 0em;
  width: 250px;
  top: 50%;

  background-color: yellow;
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;
  transition: all 250ms ease-out;
    overflow: hidden;
}

.expand {
   max-height: 10em; 
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
    border-radius: 50%;
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
    right: 100px;

  background-color: orange;
}

.bounce-in {
  animation: circle-bounce 1s linear;   
}

@keyframes circle-bounce {
     0% {
         top: 10px;
         right: 100px;
     }
     20% {
         top: -5px;
         right: 100px;
     }
    30% {
        top: 15px;
    }
    40% {
        top: -10px;
    }
    60% {
        top: 10px;
    }
    80% {
        top: -10px;
    }
    100% {
        top:10px;
        right: 200px;
    }
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;

  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
    overflow: hidden;

}

.pull-down {
      animation: pull-down .5s linear;
}

    @keyframes pull-down {
     0% {
         max-height: 0;
     }
     100% {
         max-height: 2em;
    }
}
}
